<div>
  <p>
    {{#if (eq 'abc' 'abcd')}}
      <div class="glimatar-initials" style="width: {{@size}}px; height: {{@size}}px" draggable=false >
        <span class="initials">{{initials}}</span>
      </div>
    {{else}}
      <img src={{gravatar}} class="glimatar-image" style="width: {{@size}}px; height: {{@size}}px" draggable=false>
    {{/if}}
  </p>
</div>