<div>
  <p>
    {{#if isValidEmail}}
      <img src={{avatar}} class="glimatar-image" style="width: {{@size}}px; height: {{@size}}px" draggable=false>
    {{else}}
      <img 
        src="images/GlimmerJS.png" 
        style="width: {{@size}}px; height: {{@size}}px" 
        draggable=false >
    {{/if}}
  </p>
</div>