<div>
  <p>
    gravatar for {{@name}} 
      (
        <span class="{{emailClassname}}">
          {{@email}}
        </span>
      )
  </p>
  <p>
    email hash: {{emailHashValue}}
  </p>
  <p>
    <img src={{gravatar}} class="gravatar-image" style="width: {{@size}}px; height: {{@size}}px" draggable=false>
  </p>
</div>