<row>
  <column>
    <h1>Glimatar!</h1>
  
    <p>
      Your email:
      <br/>
      <input id='email' type='text' autocomplete="off" onkeyup={{action emailUpdated}}>
    </p>
  
    <p>
      Size:
      <br/>
      <input 
        id='size' 
        value={{size}} 
        type='number' 
        autocomplete="off" 
        onchange={{action sizeUpdated}}
      > px
    </p>  
    <p>
      Provider:
      <br/>
      <input 
        type="radio"
        name="provider" 
        value="gravatar" 
        checked="checked"
        onclick={{action changeProvider 'gravatar'}}
      /> Gravatar
      <br>
      <input 
        type="radio" 
        name="provider" 
        value="adorable" 
        onclick={{action changeProvider 'adorable'}}
      /> Adorable
      <br>
  
    </p>
  
  </column>
  
  <column>
    <glimmer-gravatar 
      @name={{name}} 
      @email={{email}} 
      @size={{size}} 
      @provider={{provider}} 
    />
  </column>
</row>